.wrapper {
    --ion-background-color: var(--ion-color-primary);
    --ion-background-color: var(--ion-color-primary-rgb);
    --ion-text-color: var(--ion-color-primary-contrast);
    --ion-text-color-rgb: var(--ion-color-primary-contrast-rgb);
    --ion-item-border-color: var(--ion-color-primary);
  }