<ion-header>
  <app-main-toolbar></app-main-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <h1 class="text-format--header">
      {{ 'RESOURCES.TITLE' | translate }}
    </h1>

    <ion-img src="/assets/images/adeslas.PNG"></ion-img>
    <div class="ion-margin-vertical text-format--basic ion-text-justify">
      <div class="text-format--sub-header text-format--primary">
          Adeslas completa para los empleados de Derby a un precio especial
      </div>
      <p>
        Rit quatistrum raeprat uriorro et vene volupta speruptio.
        Editiam que simint rehendis doleceatio. Nem doloratquia nonsequid quo et res andae inum nullabor sam etur?
      </p>
    </div>
  </div>
</ion-content>
