.welcome-logo {
  width: 300px;
  margin: 30px auto; // TODO: Change these values when the original asset is added.
}

.slogan {
  font-family: 'Baloo Chettan', cursive;
  font-size: 60px;
  text-align: center;
  margin: 30px;
  line-height: 1;
}

.login-button {
  margin: 0 15px 30px;
}
