<ion-header>
  <app-main-toolbar></app-main-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <h1 class="text-format--header">
      {{ 'HOME_PAGE.LINK_3' | translate }}
    </h1>

    <ion-img src="/assets/images/home.png"></ion-img>
    <div class="ion-margin-vertical text-format--basic ion-text-justify">
      <p>
        Tempor velit sit voluptate nulla id et incididunt ut labore cupidatat
        nisi quis commodo.
      </p>
      <p>
        Velit id et officia ut anim id deserunt velit labore temporaliquip ad.
      </p>
      <p>
        Dolore tempor qui exercitation minim ex excepteur. Irure tempor officia
        ut ipsum. Nisi eu ex ut excepteur cillum. Velit sint cillum laboris
        labore cupidatat nostrud esse incididunt ad labore. Dolor reprehenderit
        amet et ut nulla aliqua pariatur veniam sunt occaecat.
      </p>
      <p>
        Consectetur dolore laboris veniam ipsum consectetur laborum pariatur.
        Pariatur dolore cupidatat sit qui ex irure consequat excepteur. Proident
        cupidatat incididunt ea excepteur ipsum ipsum id aliqua mollit proident
        adipisicing ut pariatur.
      </p>
    </div>
  </div>
</ion-content>
